.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #189AB4;
}


.App-header {
  background-color: #05445E;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  width: 100%;
  min-height: 0;
  overflow: hidden;
  justify-content: flex-start;
  margin-bottom: 10vh;
}

.App-body{
    width: 100%;
    margin-top: 50vh;
  }

.App-link {
  color: #61dafb;
}

a{
  color:#189AB4;
}

@media (max-width: 600px) {

  .App-header {
    position: fixed;
    width: 100%;
    min-height: 0;
    overflow: hidden;
    justify-content: flex-start;
  }
  
}
